@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 25%;
  @apply mx-4
}

@media (max-width:768px) {
  div.embla__slide {
    flex: 0 0 100%;
  }
}

.section {
  @apply py-20
}

.primary-button {
  @apply py-4 px-6 mx-2 rounded-md;
  background-color: var(--primary-button-background);
  color: var(--primary-button-text);
}

.secondary-button {
  @apply py-4 px-6 mx-2 rounded-md border-black border text-black bg-transparent;
}

.accent {
  color: #aa8453;
}

div.overlay:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: hsl(0deg 0% 0% / 25%);
  right: 0;
}

div.home-image-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 0;
  background: hsl(0deg 0% 0% / 25%);
  right: 0;
}

/* CONTENT */

body {
  background: #F7F8F9;
  color: #6d7175;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Jost', sans-serif;
  color: #222;
}

.h1 {
  @apply md:text-5xl text-4xl font-medium
}

.h2 {
  @apply md:text-4xl text-3xl font-medium
}

.h3 {
  @apply md:text-2xl text-2xl font-medium
}

.h4 {
  @apply md:text-xl font-medium
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  @apply mt-4 mb-2 font-bold;
}

.content h1 {
  @apply text-4xl;
}

.content h2 {
  @apply text-3xl;
}

.content h3 {
  @apply text-xl;
}

.content h4 {
  @apply text-lg;
}

.content p {
  @apply my-2;
}

.content ul, .content ol {
  @apply my-2 list-disc ml-5;
}

.content li {
  @apply my-1;
}